# Node dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache
.npm

# Environment variables
.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.dbcoverage/
coverage/
